<!DOCTYPE html>

@using EquipmentManagementSystem.Domain.Service
@inject Localizer Localizer

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/js/Index-Table.min.js" type="text/javascript"></script>
    <script>

        
        $('document').ready(function () {

            PreventDoubleClick();
        });

        // Prevents doubleclicking from selecting text in table
        function PreventDoubleClick() {

            var table = document.getElementById('table');
            table.addEventListener('mousedown', function (event) {

                if (event.detail > 1 && event.ctrlKey == false) {

                    event.preventDefault();
                }
                // Ctrl click selecting rows for delete/export
                else if (event.ctrlKey) {

                    event.preventDefault();
                    var $target = $(event.target).closest('tr');

                    if ($target.hasClass("SelectedRow")) {
                        $target.removeClass("SelectedRow");
                    }
                    else {
                        $target.addClass("SelectedRow");
                    }

                    var rowItems = $('.SelectedRow');

                    if (rowItems.length > 0) {

                        document.getElementById("selectionButtons").style.display = "";
                    }
                    else {
                        document.getElementById("selectionButtons").style.display = "none";
                    }
                }
            }, false);
        };




    </script>
</head>
<body>
    <div id="partialTable">    @RenderBody()</div>
    @RenderSection("Scripts", false/*required*/)
</body>
</html>