<!DOCTYPE html>

@using EquipmentManagementSystem.Data
@inject Localizer Localizer

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Table.css" rel="stylesheet" type="text/css" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />

    <script src="~/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery-ui.min.js" type="text/javascript"></script>

    <script src="~/js/Index-Table.min.js" type="text/javascript"></script>

    <script>
        // Prevents doubleclicking from selecting text in table
        $('document').ready(function () {

            var table = document.getElementById('table');
            table.addEventListener('mousedown', function (event) {
                if (event.detail > 1) {
                    event.preventDefault();
                }
            }, false);
        });

    </script>
</head>
<body>
    <div class="body-content">
        @RenderBody()
    </div>

    @RenderSection("Scripts", false/*required*/)
</body>
</html>