<?xml version="1.0" encoding="utf-8"?>
<configuration>

 <!-- TODO: Remove comment tags before publish
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="false" />
          <windowsAuthentication enabled="true" />
        </authentication>
      </security>
    </system.webServer>
  </location>
-->
</configuration>