
table {
    font-family: Consolas;
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    align-content: center;
}
    table > thead {
        background-color: lightgray;
    }

        table > thead > tr > th > a {
            color: black;
        }

    table > tbody > tr > td > a {
        font-family: Calibri;
        font-weight: bold;
        color: darkblue;
    }

    table > tbody tr:nth-child(4n+1) {
        background-color: darkgray;
    }

    

tr {
    height: 50px;
}

td {
    overflow: hidden;
    text-align: center;
}

.ownerTable {
    font-family: Consolas;
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    align-content: center;
}
    .ownerTable > thead {
        background-color: lightgray;
    }

    .ownerTable > tbody > tr:nth-child(4n+3) {
        background-color: darkgray;
    }

.ParentRow {
    padding: 50px 0px 50px 0px;
    background-color: lightgray;
}

    .ParentRow:hover {
        background-color: dodgerblue !important;
    }

    .ParentRow td:hover {
        cursor: pointer;
    }

.SelectedRow {
    background-color: dodgerblue !important;
}

.ChildRow {
    display: none;
    border-radius: 25px 0 0 0;
    background-color: aliceblue;
}

#curList {
    font-size: 20px;
    padding: 0px 5px 0px 5px;
}

#pageListRow {
    height: 20px;
}

#selectionRow {
    height:20px;
    width: 10%;
}

#pageList {
    margin: 0px 0px 7px 0;
}

    #pageList > div > a {
        margin: 0px 5px 0px 5px;
    }

.PageLink {
    text-decoration: none;
    font-size: 20px;
    border: 1px solid rgba(1,1,1,0.2);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    background-color: darkgrey;
    text-align: left;
    align-content: center;
    padding: 0px 5px 0px 5px;
}

.CurPage {
    text-decoration: none;
    padding-left: 5px;
    font-size: 25px;
    color: black;
}




