@using EquipmentManagementSystem.Models
@using EquipmentManagementSystem.Domain.Service
@inject Localizer Localizer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Chromebook";
}


@section Scripts {


    <script type="text/javascript">



    </script>
}

<h2>Chromebook</h2>


<div>
    @Html.TextBox("SearchString", Localizer["Find model/date/owner..."], new { id = "search", @class = "Search" })
    <input id="submitSearch" type="button" value="@Localizer["Search"]" />

    <div id="searchCategories" hidden>
        <ul class="CategoryList">
            <li>
                <input class="CategoryButton" type="button" id="categoryDate" value="LastEdited" />
            </li>
            <li>
                <input class="CategoryButton" type="button" id="categoryModel" value="Model" />
            </li>
            <li>
                <input class="CategoryButton" type="button" id="categorySerial" value="Serial" />
            </li>
            <li>
                <input class="CategoryButton" type="button" id="categoryOwner" value="OwnerName" />
            </li>
            <li>
                <input class="CategoryButton" type="button" id="categoryType" value="EquipType" />
            </li>
        </ul>
    </div>
</div>
<p>
    <a href="#" onclick="importHandler()" id="importButton">@Localizer["Import"]</a>
</p>



<p>
    @Html.ActionLink(Localizer["Create New"], "Create", new { culture = ViewData["Language"] })
</p>

<div id="partialTable"></div>



